@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); /*montserratfont*/

.memcon {
    margin: 0;
    margin-top: 60px; /* adjust the margin to match the height of the navbar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.centered-box {
    width: 810px;
    padding: 60px;
    background-color: #F9CD75;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.8rem;
    box-shadow:  0px 10px 15px rgba(0, 0, 0, 0.5);
    text-align: left;
    height: 1100px;
    

    h1{
        margin-bottom: 30px;
        margin-top: -60px;
        font-family: "Montserrat";
    }
}

/* Title for each section (Personal Information ,Create Password & Payment Information) */
.section-title {
    font-size: 20px;
    font-weight: 24;
    margin-bottom: 10px;
    font-family: "Montserrat";
}

/* Input container to hold all inputs in a single div */
.input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    font-family: "Montserrat";
}

/* personal information input fields */
.input-container .personal-input-field {
    width: 335px;
    height: 40px;
    font-size: 17px;
    padding: 0 25px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: #272829;
    color: white;
    outline: none;
    font-family: "Montserrat";
}

/* create password input fields */
.input-container .password-input-field {
    width: 335px;
    height: 40px;
    font-size: 17px;
    padding: 0 25px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: #272829;
    color: white;
    outline: none;
    justify-content: center;
    font-family: "Montserrat";
}
/* input text of payment information*/
.input-payment {
    justify-content: center;
    margin-top: 10px;
    left: 413px;
    width: 321px;
    font-family: "Montserrat";
    .subtext {
        /*verification text*/
        font-size: 14px;
        color: #000;
        line-height: 2.5;      
    }
}
.input-text {
    width: 102%;
    height: 30px;
    font-size: 17px;
    padding: 0 25px;
    flex-direction: column;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
    outline: none;
    background-color: #272829;
    color: white;
    margin-bottom: 10px;
}
/*Terms and Conditions*/
.terms-title {
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-family: "Montserrat";
  }
  
.terms {
  color: #FF0000;
  font-size: 13px;
  cursor: pointer;
  
}

label {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 13px;
}


.verification-line {
    align-self: flex;
    font-size: 20px;
    margin-left: 360px;
    margin-top: -547px;
    .subtext {
        /*verification text*/
        font-size: 14px;
        color: #645F5F;
        margin-top: 10px;
        margin-left: 2px;
        position: static;
        text-align: left;
        white-space: nowrap;
        line-height: 1.5;
        font-style: italic;
    }
    .primary-line {
        align-self: flex;
        font-size: 14px;
        margin-left: 20px;
        margin-top: 10px;

        .subtext {
            /*Primary text*/
            font-size: 13px;
            color: #000;
            margin-top: 10px;
            margin-left: -3px;
            position: static;
            font-style: italic;
            word-spacing: -1px;
            letter-spacing: normal;
        }
    }
    .secondary-line {
        align-self: flex;
        font-size: 14px;
        margin-left: 150px;
        margin-top: -105px;
        .subtext {
            font-size: 13px;
            color: #000;
            margin-top: 14px;
            margin-left: -3px;
            position: static;
            text-align: left;
            white-space: nowrap;
            line-height: 1;
            font-style: italic;
        }
    }
}

.file-upload-container {
    margin-left: 360px;
    margin-top: 80px;
    display: flex;
    grid-gap: -10px;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}
.upload-box {
    grid-column: 1 / -1; /* make the input fields span the full width */
    max-width: 180px; /* set a maximum width */
    height: 30px; /* adjust the height to your liking */
    cursor: pointer;
  }

.perks-line {
    /*Membership text*/
    align-self: flex;
    margin-left: 370px;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Montserrat";
}
/* Membership Perks container*/
.inner-box {
    width: 300px;
    height: 260px;
    background-color: #F9CD75;
    text-align: center;
    border-radius: 0.8rem;
    box-shadow:  0px 10px 15px rgba(0, 0, 0, 0.5);
    margin-left: -10px;
    margin-top: 20px;
}
.services-line {
    margin-left: 20px;
    margin-top: -250px;
    font-size: 17px;
    p {
        line-height: 1; /* Adjust the space between lines */
    }
    .spaced-items {
        display: block;
        margin-bottom: 20px; /* Adds space below each item */
    }
    #price {
        /* price text properties */
        font-size: 23px;
        color: yellow;
        margin-top: 50px;
        font-weight: bold;
        text-shadow: -1px -1px 5px black,
            /* top-left shadow */ 1px -1px 0px black,
            /* top-right shadow */ -1px 1px 0px black,
            /* bottom-left shadow */ 1px 1px 0px black; /* bottom-right shadow */
    }
}
.sub-submit {
    /*Submit buttton container*/
    position: relative;
    width: 150px;
    margin-left: 280px;
    margin-top: 60px;
    top: 30px;
}
.submit-btn {
    /*Submit button*/
    font-family: "Montserrat";
    font-weight: 700;
    width: 90%;
    height: 38px;
    background: #FFB22C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.submit-btn:hover {
    background: #282729;
    color: #FEE503;
}