@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); /*montserratfont*/

.centered-box {
    width: 900px;
    height: 1150px;
    padding: 60px;
    background-color: #F9CD75;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.8rem;
    box-shadow:  0px 10px 15px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin: 50px auto 50px auto;
}

h1{
    margin-bottom: 15px;
    margin-top: -20px;
    font-family: "Montserrat";
}

/*Personal Info*/
.personal-info{
    margin-top: 0px;
    height: 180px;
}

.pi{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 23px;
}

.form-group1{
    height: 100px;
    padding-top: 3px;
}

.whole-g1{
    margin-top: 10px;
    border: 0px solid blue;
}

input{
    margin: 0px 0px 10px 5px;
    width: 385px;
    height: 35px;
    font-size: 15px;
    font-family: "montserrat";
    background-color: white;
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.address{
    width: 779px;
}
/*Personal Info*/

/*Create Password*/
.create-password{
    margin-top: 50px;
    height: 95px;
    position: relative;
}

.cp{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 23px;
}

.form-group1{
    height: 100px;
    padding-top: 3px;
}

.whole-g1{
    margin-top: 10px;
    border: 0px solid blue;
}
.input-box{
    display: flex;
    justify-content: space-around;
}

.password-input-field{
    margin: 10px 0px 10px 5px;
    width: 385px;
    height: 35px;
    font-size: 15px;
    font-family: "montserrat";
    background-color: white;
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
/*Create Password*/

/*Payment Information*/
.payment-info {
   margin-top: 0px;
   width: 790px;
}

.po, .ver{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 23px;
}

.pay{
    display: flex;
    flex-direction: row;
    gap: 95px;
}

.input-here{
    margin: 0px;
    width: 385px;
    height: 35px;
    font-size: 15px;
    font-family: "montserrat";
    background-color: white;
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
/*Payment Information*/

/*Verification Contents*/
.verifile {
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    width: 790px;
    height: 340px;
    margin-top: 20px;
}

.veri{
    display: flex;
    flex-direction: column;
    width: 335px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.verification-line {
    align-self: flex;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 15px;
    width: 300px;
}

.pands{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 300px;
}

.allpay{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 365px;
}

.input-payment {
    justify-content: center;
    margin-top: 0px;
    width: 321px;
    font-family: "Montserrat";
}
.subtext {
    font-size: 14px;
    color: #000;
    line-height: 2.5;      
}

.input-payments{
    justify-content: center;
    margin-top: 0px;
    margin-left: -18px;
    width: 321px;
    font-family: "Montserrat";
}
.input-text {
    width: 335px;
    height: 30px;
    font-size: 17px;
    padding: 0 25px;
    flex-direction: column;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    outline: none;
    background-color: white;
    color: black;
    margin-bottom: 10px;
}

.primary-line {
    font-size: 14px;
    margin-left: 8px;
    margin-top: 10px;

    .subtext {
        /*Primary text*/
        font-size: 13px;
        color: #000;
        margin-top: 8px;
        margin-left: -3px;
        position: static;
        font-style: italic;
        word-spacing: -1px;
        letter-spacing: normal;
    }
}
.secondary-line {
    align-self: flex;
    font-size: 14px;
    margin-left: 23px;
    margin-top: 9px;

    .subtext {
        font-size: 13px;
        color: #000;
        margin-top: 12px;
        margin-left: -3px;
        position: static;
        text-align: left;
        white-space: nowrap;
        line-height: 0.9;
        font-style: italic;
    }
}

.subtext {
    font-size: 14px;
    color: #645F5F;
    margin-top: 10px;
    margin-left: 2px;
    position: static;
    text-align: left;
    white-space: nowrap;
    line-height: 1.5;
    font-style: italic;
}

.perks-line {
    align-self: flex;
    margin-left: 100px;
    margin-top: 0px;
    font-size: 20px;
    font-family: "Montserrat";
}
/*Verification Contents*/

/*Terms and Conditions*/
.tc{
margin-top: 80px;
}
.check{
    width: 15px;
    margin-right: 5px;
}
.terms-title {
    font-size: 15px;
    margin-bottom: 5px;
    font-family: "Montserrat";
}

.terms {
    color: #FF0000;
    font-size: 13px;
    cursor: pointer;
    margin-left: 5px;
}

.termscon {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

label {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 13px;
}

/* File upload  */
.file-upload-container {
    text-align: center;
    margin-left: 0px;
    margin-top: 15px;
    width: 300px;
}

.drop-zone {
    border: 1px solid #000;
    width: 380px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #ffdb93;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    flex-direction: column;
}

.drop-zone.dragover {
    background-color: #ffd966;
}

.preview-box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}

.preview-box img {
    width: 70%;
    height: 150px;
    display: block;
}

.preview-box p {
    margin: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.upload-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 15px;
    font-size: 14px;
    background: #FFB22C;
    color: #282729;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
}

.upload-button:hover {
    background-color: #282729;
    color: #FEE503;
}

input[type="file"] {
    display: none;
}

/* perks */
.inner-box {
    width: 300px;
    height: 360px;
    background-color: #F9CD75;
    text-align: center;
    border-radius: 0.8rem;
    box-shadow:  0px 10px 15px rgba(0, 0, 0, 0.5);
    margin-left: 0px;
    margin-top: 10px;
}
.services-line {
    margin-left: 20px;
    margin-top: -330px;
    font-size: 17px;
    p {
        line-height: 1; /* Adjust the space between lines */
    }
    .spaced-items {
        display: block;
        margin-bottom: 20px; /* Adds space below each item */
    }
    #price {
        /* price text properties */
        font-size: 23px;
        color: yellow;
        margin-left: 35px;
        margin-top: 150px;
        font-weight: bold;
        text-shadow: -1px -1px 5px black,
            /* top-left shadow */ 1px -1px 0px black,
            /* top-right shadow */ -1px 1px 0px black,
            /* bottom-left shadow */ 1px 1px 0px black; /* bottom-right shadow */
    }
}
.sub-submit {
    /*Submit buttton container*/
    width: 150px;
    top: 30px;
    align-self: center;
}
.submit-btn {
    /*Submit button*/
    font-family: "Montserrat";
    font-weight: 700;
    width: 90%;
    height: 38px;
    background: #FFB22C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.submit-btn:hover {
    background: #282729;
    color: #FEE503;
}