@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*montserrat font*/
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');

*{
    margin: 0px;
}

/*whole services1*/
.main-content {
    display: flex;
    flex-direction: row;
}
/*whole services1*/

/*-------SIDE NAV BAR-------*/
.content{
    display: flex;
}
.sidenav { /*all contents of sidebar*/
    height: 220vh;
    width: auto;
    position: relative;
    background-color: #EBCA85;
    padding-top: 20px;
    border: 4px solid black;
    box-sizing: border-box;
}

#services { /*SERVICES title above brakes (text properties)*/ 
    font-family: "Coda", system-ui;
    font-weight: 600;
    font-size: 30px;
    color: black;
    display: block;
    text-align: center;
    font-style: normal;
    cursor: pointer;
}

.sidenav button { /*sidebar text propertines*/
    height: 4rem;
    font-size: 24px;
    color: black;
    display: block;
    font-style: italic;
    font-family: "Montserrat";
    font-weight: 800;
    padding-left: 1rem;
}
.sidenav button:hover { /*hover effect sidenav a text*/
    color: #FEF60B;
    cursor: pointer;
}
.container{ /*box border from brakes to packages*/
    box-sizing: border-box ;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    box-sizing: border-box;
    background-color: #EBB13A;
    margin-top: 5%;
    width: 21rem;
    text-align: left;
}

.container:hover{ /*container hover effect*/
    background-color: #2C2A2A;
}
.active {
    background-color: #2C2A2A;
    color: #FEF60B !important; /*problema sa heirarchy kaya naglagay ng important para ito yung sundin*/
}
.content img{
    height: 100vh;
    width: auto;
    max-width: 100%; /* Ensures the image does not exceed the viewport width */
    overflow: hidden; /* Hides any potential overflow */
    object-fit: cover; /* Optional: crops the image to fit nicely if needed */
}
/*Sidebar*/

/*Book for services2*/
.book {
    font-family: "Montserrat";
    width: 100%;
    height: 220vh;
    background-color: #FABC3F;
    position: relative;
    margin-top: 0px;
}

.section-one{
    
    .book-here{
        margin: 20px 150px;
        font-size: 40px;
        font-weight: 800;
    }

    .s1{
        margin: 15px auto 20px auto;
        width: 850px;
        height: 130px;
        background-color: #F9CD75;
        border-radius: 0.8rem;
        box-shadow:  0px 10px 15px rgba(0, 0, 0, 0.5);
    
        .form-group{
            margin: 20px 0px 0px 0px;
            height: 130px;

            .texts{
                display: flex;
                flex-direction: row;
                margin: 20px 20px 0px 25px;
        
                .tall-text{
                    font-size: 30px;
                    font-weight: 700;
                    margin: 20px 20px 0px 0px;
                    height: 30px;

                }
                .small-text{
                    font-size: 13px;
                    font-weight: 600;
                    margin: 35px 20px 0px -10px;
                    height: 20px;
                }
            }
    
            select{
                margin: 10px 25px;
                width: 800px;
                height: 40px;
                font-size: 18px;
                font-family: "montserrat";
                background-color: #E2BB6B;
                border-radius: 5px;
                border-width: 1px 1px 1px 1px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                cursor: pointer;
            }
    
            option{
                h1{
                    font-weight: 700;
                }
            }
        }
    }   

}

.section-two{
    margin-top: 20px;

    .s2{
        margin: 0px auto 20px auto;
        width: 850px;
        height: 658px;
        background-color: #F9CD75;
        border-radius: 0.8rem;
        box-shadow:  0px 10px 15px rgba(0, 0, 0, 0.5);

        .form-group1{
            height: 250px;
            padding-top: 3px;

            .whole-g1{
                margin-top: 20px;
                border: 0px solid blue;

                .tall-text{
                    font-size: 30px;
                    font-weight: 700;
                    margin: 20px 20px 0px 25px;
                    height: 30px;
                    border: transparent solid black;
                }
            }

            input{
                margin: 20px 0px 10px 25px;
                width: 380px;
                height: 35px;
                font-size: 18px;
                font-family: "montserrat";
                background-color: #E2BB6B;
                border-radius: 5px;
                border-width: 1px 1px 1px 1px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
            }
        }

        .form-group2{
            margin: 0px;
            height: 130px;
            font-family: "montserrat";

            .tall-text{
                font-size: 24px;
                font-weight: 700;
                margin: 20px 20px 0px 25px;
                height: 30px;
            }

            .whole-select{
                display: flex;
                flex-direction: row;
                gap: 30px;
                
                .vc{
                    margin: 10px 25px;
                    width: 300px;
                    height: 40px;
                    font-size: 18px;
                    font-family: "montserrat";
                    background-color: #E2BB6B;
                    border-radius: 5px;
                    border-width: 1px 1px 1px 1px;
                    border-style: solid;
                    border-color: rgb(0, 0, 0);
                    cursor: pointer;
                }
        
                option{
                    h1{
                        font-weight: 700;
                    }
                }
    
                .yr{
                    margin: 10px -5px;
                    width: 300px;
                    height: 40px;
                    font-size: 18px;
                    font-family: "montserrat";
                    background-color: #E2BB6B;
                    border-radius: 5px;
                    border-width: 1px 1px 1px 1px;
                    border-style: solid;
                    border-color: rgb(0, 0, 0);
                    cursor: pointer;
                }
        
                option{
                    h1{
                        font-weight: 700;
                    }
                }

                .oil{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 150px;
                    height: 57px;
                    margin: 0px;

                    button{
                        font-size: 15px;
                        font-weight: 500;
                        font-family: "montserrat";
                        border-radius: 8px;
                        background-color: #E2BB6B;
                        cursor: pointer;
                    }

                    button:hover {
                        background: #282729;
                        color: #FEF60B;
                    }

                    button:active{
                        background: #282729;
                        color: #FEF60B !important;
                    }
                }
            }
        }

        .form-group3{
            margin: -50px 0px 0px 0px;
            height: 130px;
            font-family: "montserrat";

            .tall-text{
                font-size: 24px;
                font-weight: 700;
                margin: 20px 20px 0px 25px;
                height: 30px;
            }
        }

        .date{
            margin: 15px 25px;
            width: 380px;
            height: 40px;
            font-size: 18px;
            font-family: "montserrat";
            background-color: #E2BB6B;
            border-radius: 5px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            cursor: pointer;
        }
                    
        .time{
            margin: 15px -5px;
            width: 390px;
            height: 40px;
            font-size: 18px;
            font-family: "montserrat";
            background-color: #E2BB6B;
            border-radius: 5px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            cursor: pointer;
        }

        .form-group4{
            margin: -40px 0px 0px 0px;
            height: 190px;
            font-family: "montserrat";

            .tall-text{
                font-size: 24px;
                font-weight: 700;
                margin: 20px 20px 0px 25px;
                height: 30px;
            }

            .pay-here{
                display: flex;
                flex-direction: row;
                width: 800px;
                height: 75px;
                margin: -3px 0px 0px 25px;
            }

            .pay1{
                margin: 18px 0px;
                width: 385px;
                height: 40px;
                font-size: 18px;
                font-family: "montserrat";
                background-color: #E2BB6B;
                border-radius: 5px;
                border-width: 1px 1px 1px 1px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                cursor: pointer;
            }
    
            option{
                h1{
                    font-weight: 700;
                }
            }

            .images{
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: 385px;
                height: 40px;
                margin: 18px 0px 0px 28px;

                img{
                    width: 85px;
                    height: 40px;
                    margin: 0px 0 0 -5px;
                }
            }

            .pay2{
                margin: 0px 25px;
                width: 385px;
                height: 40px;
                font-size: 18px;
                font-family: "montserrat";
                background-color: #E2BB6B;
                border-radius: 5px;
                border-width: 1px 1px 1px 1px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                cursor: pointer;
            }

            input{
                margin: 0px 0px 10px -10px;
                width: 380px;
                height: 35px;
                font-size: 18px;
                font-family: "montserrat";
                background-color: #E2BB6B;
                border-radius: 5px;
                border-width: 1px 1px 1px 1px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
            }
        }
    }
}
/*Book for services2*/

.summary-container {
    margin: 0px auto 20px auto;
    width: 850px;
    height: 590px;
    background-color: #F9CD75;
    border-radius: 0.8rem;
    box-shadow:  0px 10px 15px rgba(0, 0, 0, 0.5);
    padding-top: 30px;
}

h2 {
    
    color: #000;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 24px;
    font-weight: 700;
    
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin-left: 38px;
    margin-bottom: 15px;
}


.sched-box {
    background-color: #CFB88A; 
    font-weight: bold;
    font: bold;
    padding: 8px;
    border-radius: 10px;
    margin-left: 40px;
    width: 12%;
}

.date-box {
    background-color: #CFB88A; 
    padding: 8px;
    color: #4a4a4a;
    border-radius: 10px;
    width: 75%;
    margin-left: 160px;
    margin-top: -35px;
}
.brand-box {
    background-color: #CFB88A; 
    color: #000;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 10px;
    width: 10%;
}

.model-box {
    background-color: #CFB88A; 
    padding: 8px;
    color: #4a4a4a;
    border-radius: 10px;
    width: 77%; 
    margin-left: 145px;
    margin-top: -35px;
    margin-bottom: 20px;
}
.box-row span, .box-row label {
    font-size: 0.9em;
    color: #4a4a4a;
}

.info-row label {
    font-weight: bold;
    color: #4a4a4a;
}

.info-row span {
    color: #4a4a4a;
}

.total {
    font-weight: bold;
    background-color: white;
    width: 90%;
    margin-left: 38px;
}

.total span {
    font-weight: bold;
    color: #000;
}

.points {
    font-size: 0.9em;
    color: #7a6c50;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 300px;
}


.home-button {
    width: 35%;
    height: 40px;
    font-family: "Montserrat";
    font-weight: 700;
    background: #282729;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: -100px;
    color: #FEE503;
    position: relative;  
    top: -5px;
}

.home-button:hover {
    background: #FFB22C;
    color: #282729;
}

.confirm-button {
    width: 200px;
    height: 40px;
    font-family: "Montserrat";
    font-weight: 700;
    background: #FFB22C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 170px;
    color: #282729;
    position: relative;  
    top: -5px;
}
.confirm-button:hover {
    background: #282729;
    color: #FEF60B;
}